.show-popup{
	display:flex;
	justify-content:center;
	align-items:center;
	background:#ddd;
	width:100%;
	margin: 0 auto;
	height: 50px;
}
.show-popup img{
	display: block;
	width: 24px;
	height:24px;
}
.hidden-popup{
	display:none;
}