* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#formulario {
    border: 1px dotted black;
    padding: 10px;
    width: 70vw;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

label {
    width: 10%;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
}

input, textarea {
    width: 90%;
    margin-bottom: 10px;
}

button {
    width: 100px;
    margin: 0 auto;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid rgb(77, 77, 77);
}

#container-de-posts {
    margin: 10px;
    border-top: 3px double rgb(77, 77, 77);
}
#popup-section{
    display: none;
    background:#8CCBD8;
    width:100vw;
    height:auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:absolute;
    top:0;
    left:0;
    overflow-y:scroll;
    transition: .5s ease-in-out;
}

#popup-section h2{
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    padding:20px;
}
#popup .titulo-popup{
    color:#271D61;
    padding:2px 20px;
}
#popup .autor-popup{
    color:#ddd;
    text-align:center;
    padding:0 20px 20px;
}
#popup .imagem-popup{
    display:block;
    width:50%;
    height:auto;
    margin:0 auto;
}
#popup .conteudo-popup{
    color:#6E7495;
    text-align:center;
    padding: 20px;
    border-bottom:1px solid #fff;
    margin-bottom:20px;
}
#popup-section .buttons{
    display:flex;
    width:100%;
    justify-content: space-around;
    align-items: center;

}
#popup-section .buttons button{
    width:45%;
    color:#fff;
    text-transform:uppercase;
    border:none;
}
#popup-section .buttons button:first-child{
    background-color: #6E7495;
}
#popup-section .buttons button:last-child{
    background-color: #CE732A;
}