@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,800&display=swap');
body{
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}
*{
	margin:0;
	padding:0;
	border:0;
	outline: 0;
	box-sizing: border-box;
}
/*Pagina inicial*/

/***************Header*******************/
header{
	width:100vw;
	height:70px;
	position:fixed;
	top:0;
	left:0;
	background-color:#fff;
	box-shadow:2px 2px 5px #ddd;
	display:flex;
	justify-content: space-between;
	align-items:center;
	padding: 10px 5%;
	z-index:999;
}
.brand img{
	display:block;
	height:40px;
	width:auto;
}
.menu ul {
	display:flex;
	align-items:center;
	justify-content: center;
}
.menu ul li{
	list-style: none;
}
.menu ul li a{
	padding:10px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size:15px;
	color:#6C479C;
}
.menu ul li a:hover{
	color: #A9469A;
}
.menu ul li a:last-child{
	background-color:#6C479C;
	color:#fff;
	box-shadow:2px 2px 5px #ddd;
}
.menu ul li a:last-child:hover{
	background-color:#A9469A;
	color:#fff;
}
.menu ul li a:last-child:after{
	content: "→";
	display:inline-block;
	padding-left:10px;
	font-size:15px;
}
 /***************Hero*******************/
 .hero{
 	width:100vw;
 	height:100vh;
 	background-image:url(../imgs/web-developer.jpg);
 	background-repeat: no-repeat;
 	background-size:cover;
 	background-attachment: fixed;
 	position:relative;
 	padding: 71px 5% 0;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }
  .hero:before{
  	content:"";
  	display: block;
  	width:100vw;
  	height:100vh;
  	position:absolute;
  	top:0;
  	left:0;
  	background-color: #6C479C;
  	opacity:0.8;
  }
  .content-hero{
  	position:relative;
  	z-index:9;
  	text-align: center;
  }
  .content-hero h1{
  	color:#fff;
  	text-transform: uppercase;
  	text-align:center;
  	font-size:60px;
  	line-height: 1em;
  }
    .content-hero h1 span{
    	display:block;
    	font-size:35px;
    	background:#fff;
    	color:#6C479C;
      }
    .content-hero p{
    	text-align:center;
    	font-size:25px;
    	color:#fff;
    	margin:20px 0 20px;
    }
 .content-hero a{
	background-color:#4f9c48;
	color:#fff;
	box-shadow:2px 2px 5px #00000080;
	padding:10px 20px;
	font-size:25px;
	text-decoration: none;
}
 .content-hero a:hover{
	background-color:#A9469A;
	color:#fff;
}
 .content-hero a:last-child:after{
	content: "→";
	display:inline-block;
	padding-left:10px;
	font-size:25px;
}

/*****************Sobre*****************/
.about{
	width:100vw;
	height:100vh;
	position:relative;
	padding:71px 5% 10px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.about .content-about{
	width:70%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.about .content-about  .img-about{
	width:100%;
}
.about .content-about .img-about img{
	display: block;
	width:400px;
	border-radius:10px;
}
.about .content-about .info-about {
	padding-left:10px;
}
.about .content-about .info-about span{
	font-size:20px;
	color:#5551A2;
	font-weight: 400;
}
.about .content-about .info-about h2{
	font-size:45px;
	text-transform: uppercase;
	color:#6C479C;
	font-weight: 600;
}
.about .content-about .info-about p{
	font-size:20px;
	color:#303030;
	margin-bottom: 20px;
}
.about .content-about .info-about a{
	padding:10px 15px;
	font-size:20px;
	color:#fff;
	background:#6C479C;
	box-shadow: 2px 2px 5px #ddd;
	text-decoration: none;
}
.about .content-about .info-about a:hover{
	background:#A9469A;
}

/***************Conhecimentos*******************/
.acqueriments{
	background-image: url(../imgs/acqueriments.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width:100vw;
	padding:71px 5% 10px;
	position:relative;
}
.acqueriments:before{
	content:"";
	background:#6C479C;
	width:100vw;
	height:100%;
	top:0;
	left:0;
	position:absolute;
	opacity:0.8;
}
.acqueriments .content-acqueriments{
	position:relative;
	z-index: 9;
}
.acqueriments .content-acqueriments h2{
	text-align:left;
	border-bottom:2px solid #fff;
	padding:10px;
	margin: 10px 0;
	color:#fff;
	text-transform: uppercase;
	font-size:25px;
}
.acqueriments .content-acqueriments .acq,
.acqueriments .content-acqueriments .form{
	display:flex;
	justify-content: center;
	align-items: center;
	padding:20px;
}
.acqueriments .content-acqueriments .acq .know,
.acqueriments .content-acqueriments .form .courses{
	background:#6C479C;
	margin:0 5px;
	padding:10px;
}
.acqueriments .content-acqueriments .acq .know img,
.acqueriments .content-acqueriments .form .courses img{
	display:block;
	width:200px;
	margin:0 auto;
}
.acqueriments .content-acqueriments .acq .know h3,
.acqueriments .content-acqueriments .form .courses h3{
	color:#fff;
	text-align:center;
	font-size:25px;
	padding:10px 0;
}
.acqueriments .content-acqueriments .acq .know  p,
.acqueriments .content-acqueriments .form .courses p{
	color:#ddd;
	text-align:center;
}
/****************Portfolio**************/
.portfolio{
	width:100vw;
	position: relative;
	padding:71px 5% 20px;
	text-align:right;
}
.portfolio .content-portfolio{
	display:grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(2,1fr);
	grid-gap:20px;
	justify-content: center;
	padding:20px 0;
}
.portfolio  h2{
 	text-align:left;
	border-bottom:2px solid #6C479C;
	padding:10px;
	margin: 10px 0;
	color:#6C479C;
	text-transform: uppercase;
	font-size:25px;
}
.portfolio .content-portfolio .item-portfolio{
	background:#6C479C;
	position:relative;
	text-align: center;
	padding-bottom: 20px;
}
.portfolio .content-portfolio .item-portfolio img{
	display: block;
	width:100%;
	height:auto;
}
.portfolio .content-portfolio .item-portfolio h3{
	text-align: center;
	color:#fff;
	font-size:25px;
	padding:10px;
}
.portfolio .content-portfolio .item-portfolio p{
	color:#ddd;
	text-align:center;
	padding: 0 10px 20px;
	font-size:20px;
}
.portfolio .content-portfolio .item-portfolio a{
	padding:10px 15px;
	color:#6C479C;
	background:#fff;
	font-size:20px;
	text-decoration:none;
}
.portfolio .content-portfolio .item-portfolio a:hover{
	background:#ddd;
}
.portfolio .btn-portfolio{
	padding:10px 15px;
	background-color:#6C479C;
	color:#fff;
	text-decoration: none;
	font-size:20px;
}
.portfolio .btn-portfolio:hover{
	background-color: #A9469A;
}

/*********************Contato***********************/
.contact{
	background-image: url(../imgs/contact.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width:100vw;
	padding:71px 5% 10px;
	position:relative;
}
.contact:before{
	content:"";
	background:#6C479C;
	width:100vw;
	height:100%;
	top:0;
	left:0;
	position:absolute;
	opacity:0.8;
}
.contact  h2{
 	text-align:left;
	border-bottom:2px solid #fff;
	padding:10px;
	margin: 10px 0;
	color:#fff;
	text-transform: uppercase;
	font-size:25px;
	position: relative;
	z-index: 9;
}
.contact .content-contact{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 9;
	padding:20px 0;
}
.contact .content-contact .img-contact {
	width:50%;
}
.contact .content-contact .img-contact img{
	width:300px;
}
.contact .content-contact .form-contact{
	background:#fff;
	width:100%;
}
.contact .content-contact .form-contact form{
padding:20px;
}
.contact .content-contact .form-contact form label{
	color: #6C479C;
	font-size:20px;
	display: block;
	padding: 15px 5% 5px;
	text-align:left;
}
.contact .content-contact .form-contact form input{
	display:block;
	width:90%;
	margin:0 auto;
	height:40px;
	border:2px solid #6C479C;
	color: #6C479C;
	font-size:20px;
}
.contact .content-contact .form-contact form input::-webkit-input-placeholder{
	color: #6C479C;
	padding-left:10px;
}
.contact .content-contact .form-contact form textarea{
	display:block;
	width:90%;
	margin:0 auto;
	border:2px solid #6C479C;
	color: #6C479C;
	font-size:20px;
}
.contact .content-contact .form-contact form button{
	display:block;
	float:right;
	margin:20px 40px 20px 0;
	background-color: #6C479C;
	color:#fff;
	padding:10px 15px;
	font-size:20px;
	cursor:pointer;
}
.contact .content-contact .form-contact form button:hover{
	background-color: #A9469A;
}

/**************Footer***************/
footer{
	width:100vw;
	height:130px;
	padding:10px 5% 0;
	position: relative;
	background-color:#ddd;
}
footer .content-footer{
	display:flex;
	justify-content: space-around;
	align-items: center;
}
footer .content-footer .more-info h4,
footer .content-footer .redes-sociais h4{
	color:#6C479C;
	font-size:20px;
	text-transform: uppercase;
	font-weight: 700;
}
footer .content-footer .more-info p{
	padding:10px 0;
	font-size:18px;
	color:#EA2690;
}
footer .content-footer .brand-footer img{
	width:200px;
}
footer .content-footer .brand-footer p{
	text-align:center;
	font-size:18px;
	border-top:1px solid #6C479C;
	color:#6C479C;
}
footer .content-footer .redes-sociais a{
	display:inline-block;
	margin:20px 10px;
}
footer .content-footer .redes-sociais a img{
	width:30px;
}
img{width:100px;}