@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
	padding: 0;
	margin:0;
	border:0;
	outline: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Cuprum', sans-serif;
	font-size:1em;
}
img{
	width:20px;
}
header{
	width:100vw;
	height:40px;
	padding: 0 10% 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:#FAF1F3;
	border-bottom:2px solid #ddd;
}

.brand{
	width:20%;
}
header h1{
	display: inline-block;
	text-transform: uppercase;
	background: #000;
	border-radius:5px;
	color:#fff;
	padding:5px 10px;
	font-size:1em;
}
header .search{
	width:40%;
}
header input{
	background:#ddd;
	height:30px;
	border-radius:5px;
	width:100%;
	color: #8C8B8B;
	padding-left:10px;
	font-size:1em;
}
.icons{
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.icons button{
	background:#30C7D0;
	padding:3px 15px;
	border:2px solid #000;
	border-radius:3px;
	color:#000;
	font-weight:800;
	font-size:0.7em;
	text-transform: uppercase;
	margin:0 5px;
}
.icons img{
	display: block;
	width:20px;
	height:20px;
	margin: 0 6px;
}
.icons img:nth-child(3){
	transform:rotate(-26deg);
}
.container{
	width:100vw;
	padding: 0 10%;
	display:grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-gap:10px;
}