body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
div {
    border: 1px solid black;
}
#first-block{
    display: block;
    width:100vw;
    height:100px;
    background-color:red;
}
.row-1,
.row-2,
.row-3{
    width:90vw;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    margin:10px auto;
    border:0;
}

.row-1 .blue-block,
.row-1 .yellow-block,
.row-1 .green-block{
    width:25%;
    height:150px;
    margin:10px;
}
.black-block{
    width:48%;
    height:400px;
}
.white-block{
    width:30%;
    height:100px;
    margin:5px;
}
#first-block {
    background-color: red;
}

.blue-block {
    background-color: blue;
}

.yellow-block {
    background-color: yellow;
}

.green-block {
    background-color: green;
}

.black-block {
    background-color: black;
    color: white;
}

.white-block {
    background-color: white;
}

@media (max-width:768px){
.row-1 .blue-block,
.row-1 .yellow-block{
    width:45%;
}
.row-1 .green-block{
    width:100%;
}
.white-block{
    flex-grow:3;
}
.white1, .white2{
    width:45%;
}
.white3{
    width:100%;
}
}
@media (max-width:400px){
.row-1 .blue-block,
.row-1 .yellow-block,
.row-1 .green-block,
.white1,
.white2,
.white3{
       width:100%;
    }
}
